#include <stdio.h>


int calculate(int sayi){


    int i,sayac=0;
    
    for(i=2;i<sayi;i++)
    {
       if(sayi%i==0)
       {
           sayac++;
       }    
    }     
    
    if(sayac==0)
       return sayi;  
    else
      return 0;
                 

   return 0;
}

int main(){

printf("2 basamaklı en düşük 3 asal sayının toplamı: %d\n\n",twoDigit());



printf("3 basamaklı en düşük 3 asal sayının toplamı: %d",threeDigit());

   return 0;
}



 int twoDigit(){


    int least_most=0,gather=0;
   
   for (int i = 10; i < 100; i++)
   {
         int temp = calculate(i);

            if (temp)
            {
                    gather += temp;
                    ++least_most;
            }
            else
            {
               continue;
            }
            

         if (least_most==3)break;    

   }


return gather;  

}


int threeDigit(){

    int least_most=0,gather=0;
   
   for (int i = 100; i < 1000; i++)
   {
         int temp = calculate(i);

            if (temp)
            {
                    gather += temp;
                    ++least_most;
            }

            if (least_most==3)break;    

   }
   return gather;
}
